.craigslist-container {
  padding: 20px;
}
.craigslist-title {
  display: inline;
}
.craigslist-store {
  display: inline;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.87);
}
.insert-container {
  padding: 10px;
  background-color: #EEEEEE;
}
