<md-item ng-repeat="job in jobs track by $index">
  <md-item-content>
    <div class="md-tile-content job-content">

      <span class="job-link" layout="row" layout-align="start center" ng-class="{active: shown.job == $inde.htmlx}" ng-click="toggle('job', $index)">
        <h3>{{ job.position }} - {{ job.id }}</h3>
      </span>

      <!-- Tabs Content -->
      <div ng-show="shown.job == $index" class="tabs-container">
        <md-tabs md-selected="shown.jobTab" class="md-accent">
          <md-tab ng-click="shown.jobTab = 0">
            Info
          </md-tab>
          <md-tab ng-click="shown.jobTab = 1">
            More Info
          </md-tab>
          <md-tab ng-click="shown.jobTab = 2">
            Hours
          </md-tab>
          <md-tab ng-click="shown.jobTab = 3">
            Questions
          </md-tab>
        </md-tabs>
        <ng-switch on="shown.jobTab" class="tabpanel-container">
          <form name="jobForm" ng-submit="saveJob($event, job)">

          <!-- Main Info Tab -->
          <div role="tabpanel" class="tab-content" ng-switch-when="0">
              <md-input-container>
                <label>Position</label>
                <input required name="position" ng-model="jobs[shown.job].position">
              </md-input-container>
              <div layout>
                <md-input-container>
                  <label>Hourly Rate (USD)</label>
                  <input step="any" name="salary" ng-model="jobs[shown.job].salary" max="4999">
                </md-input-container>
                <md-checkbox aria-label="Checkbox" ng-model="jobs[shown.job].hideSalary" class="checkbox-inline">Hide From User</md-checkbox>
              </div>
              <md-input-container flex>
                <label>Requirements</label>
                <textarea ng-model="jobs[shown.job].requirements" name="requirements" required columns="1"></textarea>
              </md-input-container>
              <md-input-container flex>
                <label>Summary</label>
                <textarea ng-model="jobs[shown.job].summary" name="summary" required columns="1"></textarea>
              </md-input-container>
              <md-input-container flex>
                <label>About</label>
                <textarea ng-model="jobs[shown.job].about" name="about" required columns="1"></textarea>
              </md-input-container>
          </div>

          <!-- More Info Tab -->
          <div role="tabpanel" class="tab-content" ng-switch-when="1" layout="row">
            <div flex>
              <div>
                <h3>Job Type</h3>
                <md-radio-group ng-model="jobs[shown.job].type">
                  <md-radio-button ng-repeat="type in displayData.type" value="{{type.value}}">{{ type.display }}</md-radio-button>
                </md-radio-group>
              </div>
              <div>
                <h3>Job Status</h3>
                <md-radio-group ng-model="jobs[shown.job].status">
                  <md-radio-button ng-repeat="status in displayData.status" value="{{status}}">{{ status }}</md-radio-button>
                </md-radio-group>
              </div>
              <div class="job-dropdown-container">
                <h3>Education</h3>
                <md-select ng-model="jobs[shown.job].education" placeholder="Education">
                  <md-option ng-value="education" ng-repeat="education in displayData.education">{{ education }}</md-option>
                </md-select>
           <!--      <select ng-model="jobs[shown.job].education">
                  <option ng-repeat="education in displayData.education" value="{{education}}">{{ education }}</option>
                </select> -->
              </div>
              <div class="job-dropdown-container">
                <h3>Experience</h3>
                <md-select ng-model="jobs[shown.job].experience" placeholder="Experience">
                  <md-option ng-value="experience" ng-repeat="experience in displayData.experience">{{ experience }}</md-option>
                </md-select>
       <!--          <select ng-model="jobs[shown.job].experience">
                  <option ng-repeat="experience in displayData.experience" value="{{experience}}">{{ experience }}</option>
                </select> -->
              </div>
              <div class="job-dropdown-container">
                <h3>Job Category</h3>
                <md-select ng-model="jobs[shown.job].category" placeholder="Category">
                  <md-option ng-value="category" ng-repeat="category in displayData.category">{{ category }}</md-option>
                </md-select>
        <!--         <select ng-model="jobs[shown.job].category">
                  <option ng-repeat="category in displayData.category" value="{{category}}">{{ category }}</option>
                </select> -->
              </div>
            </div>
            <div flex>
              <h3>Personality Traits</h3>
              <div ui-tree>
                <ol ui-tree-nodes="" ng-model="jobs[shown.job].traits">
                  <li ng-repeat="(traitIndex, trait) in jobs[shown.job].traits" ui-tree-node class="sortable-item-container">
                    <div ui-tree-handle class="sortable-item">
                      <b>{{ traitIndex + 1 }}</b>
                      {{ trait }}
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <!-- Hours Tab -->
          <div role="tabpanel" class="tab-content" ng-switch-when="2" layout="row">
            <div flex>
              <div ng-repeat="day in displayData.week_days">
                <h3 class="day-title">{{ day }}</h3>
                <div ng-model="jobs[shown.job].hours[day]">
                  <!-- <md-checkbox aria-label="Checkbox" ng-repeat="(timeIndex, time) in displayData.day_times" ng-model="jobs[shown.job].hours[day][timeIndex]" class="checkbox-inline">  {{ time }}
                  </md-checkbox> -->
                  <div layout layout-align="start center" class="hours-slider">
                    <div ng-repeat="slider in sliders" layout flex class="slider-container">
                      <div layout layout-align="center center" layout-margin>
                        <input class="left-number" type="number" ng-model="slider[0]">
                        {{slider[0] < 12 ? "am" : "pm"}}
                      </div>
                      <md-slider flex md-discrete step="1" min="0" max="23" ng-model="slider[1]" aria-label="red" class="md-primary">
                      </md-slider>
                      <div class="right-number" layout layout-align="center center">
                        <span>{{ slider[0] + slider[1] | convertTime }}{{slider[0] + slider[1] < 12 ? "am" : "pm"}}</span>
                      </div>
                      <md-input-container class="slider-weight">
                        <label>Weight</label>
                        <input ng-model="slider[2]">
                      </md-input-container>
                    </div>
                    <i class="fa fa-plus-square add-slider" ng-click="sliders.push([slider[0] + 4,4,1])"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Questions Tab -->
          <div role="tabpanel" class="tab-content" ng-switch-when="3">

            <!-- Sortable Questions -->
            <div ui-tree data-max-depth="1">
              <ol ui-tree-nodes="" ng-model="job.questions">
                <li ng-repeat="(qIndex, question) in job.questions" ui-tree-node class="job-question">
                  <div class="tree-node dropdown question-node" layout="row" layout-align="space-between center" ng-click="question.dropdownOpen = !question.dropdownOpen">
                    <div layout="row" layout-align="center center">
                      <div layout="row" layout-align="center center" class="tree-handle angular-ui-tree-handle" ui-tree-handle="">
                        <i class="fa fa-list"></i>
                      </div>
                      <h3 class="question-title">{{ question.title }}</h3>
                    </div>
                    <i class="fa fa-chevron-up" ng-class="{open: question.dropdownOpen}"></i>
                  </div>

                  <!-- Question Dropdown Content -->
                  <div ng-show="question.dropdownOpen" layout="row" layout-align="center start">
                    <div flex="50" class="question-dropdown-panel">
                      <div ng-repeat="(optionIndex, option) in question.options" layout="row" layout-align="start center" ng-show="question.options">
                          <md-checkbox ng-model="option.important" aria-label="Checkbox" class="md-primary">
                          </md-checkbox>
                          <md-input-container class="option-title">
                            <label>Option Title</label>
                            <input ng-model="option.title">
                          </md-input-container>
                      </div>
                      <md-input-container ng-show="!question.options">
                        <label>Free Response Answer</label>
                        <input>
                      </md-input-container>
                    </div>
                    <div class="question-dropdown-panel" flex="50" layout="column" layout-align="space-between start">
                      <md-input-container ng-show="question.options">
                        <label>Multiplier</label>
                        <input ng-model="question.multiplier">
                      </md-input-container>
<!--                  <md-radio-group ng-model="question.priority">
                        <md-radio-button ng-repeat="priority in displayData.question_priorities" ng-value="priority">
                            {{ priority }}
                        </md-radio-button>
                      </md-radio-group> -->
                      <md-button class="md-raised md-warn remove-question" type="button" ng-click="removeQuestion(qIndex)">Remove Question</md-button>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>

          <!-- Save Button -->
          <div layout="row" layout-align="end center">
            <md-input-container class="btn-toolbar-item">
              <label>Store ID</label>
              <input ng-model="copyToStoreId" type="number">
            </md-input-container>
            <md-button class="md-raised btn-toolbar-item" type="button" ng-disabled="!copyToStoreId" ng-click="copyJob($event, job, copyToStoreId)">Copy</md-button>
            <md-button class="md-raised btn-toolbar-item" type="button" ng-click="createAd(job)">Create Ad</md-button>
            <md-button class="md-raised md-primary" type="submit">Save Changes</md-button>
          </div>

          </form>
        </ng-switch>
      </div>


    </div>
  </md-item-content>
</md-item>
<md-item>
  <md-item-content>
    <div class="md-tile-content">
      <div class="btn-container">
        <md-button class="md-raised md-primary" ng-click="addJob()">Add Job</md-button>
      </div>
    </div>
  </md-item-content>
</md-item>
