<md-toolbar layout="row">
  <button ng-click="toggleSidenav('left')" class="menuBtn">
    <i class="fa fa-bars"></i>
  </button>
  <h1><md-button aria-label="Employer" ng-click="viewUsers($event)"><i class="fa fa-users"></i></md-button> Config</h1>
    <button ng-click="toggleSidenav('right')" class="menuBtn">
      <i class="fa fa-bars"></i>
    </button>
</md-toolbar>
<div layout="row" flex>

  <!-- Stores Sidenav -->
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="nav.left">
    <div>
      <h2>Brands</h2>
      <md-input-container>
        <label>Search</label>
        <input ng-model="brandSearch" ng-model-options="{debounce: 500}">
      </md-input-container>
    </div>

    <md-list class="brands-list">
      <md-item ng-repeat="(brandIndex, brand) in brands | orderBy:'name' track by brand.id" ng-show="([brand] | filter:brandSearch).length > 0">
        <md-item-content>
          <div class="md-tile-content dropdown-container">
            <div class="dropdown" layout="row" layout-align="space-between center" ng-click="brand.dropdownOpen = !brand.dropdownOpen">
              <h3>{{ brand.name }}</h3>
              <i class="fa fa-chevron-up" ng-class="{open: brand.dropdownOpen}"></i>
            </div>
            <div class="dropdown-content-container" ng-show="brand.dropdownOpen">
              <div ng-repeat="(storeIndex, store) in brand.stores" class="dropdown-item">
                <span class="store-link" layout="row" layout-align="start center" ng-class="{active: shown.store.id == store.id && shown.brand.id == brand.id}" ng-click="setShownStore(brand.id, storeIndex, store.id)">
                  <h4>{{ store.location }}<span class="md-hue-1"> - {{ store.id }}</span></h4>
                </span>
              </div>
              <md-input-container>
                <input ng-model="newStore" ng-autocomplete options="{country: 'usa'}" details="storeDetails">
              </md-input-container>
              <div class="btn-container" ng-show="newStore.length > 0">
                <md-button type="submit" class="md-raised md-primary" ng-click="addStore(brand.id, storeDetails); newStore = ''">Add Store</md-button>
              </div>
            </div>
          </div>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <div class="md-tile-content">
            <md-input-container>
              <label>New Brand</label>
              <input ng-model="newBrand.name">
            </md-input-container>
            <div class="btn-container" ng-show="newBrand.name.length > 0">
              <md-button class="md-raised md-primary" ng-click="addBrand(newBrand); newBrand.name = ''">Add Brand</md-button>
            </div>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-sidenav>

  <div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">

      <div ng-hide="jobs">
        <h2 class="jobs-title">Choose a store to view the jobs</h2>
      </div>
      <div ng-show="jobs">

        <!-- Store Header -->
        <span layout="row" layout-align="center center" class="cover-photo"></span>
        <div layout="row" layout-align="start start" class="info-container">
          <div class="brand-photo text-center">
            <md-button ng-click="" aria-label="Edit Brand Photo" class="brand-photo-edit"><i class="fa fa-pencil"></i></md-button>
          </div>
          <div class="bio-container" layout="column">
            <h2 class="brand-title">{{ brands[shown.brand.index].name }}</h2>
            <span class="md-hue-1">
              <h4 class="store-location md-accent">
                {{ brands[shown.brand.index].stores[shown.store.index].location }}
              </h4> - {{ shown.store.id }}
              <md-button aria-label="Edit Store Photo" ng-click=""><i class="fa fa-pencil"></i></md-button>
            </span>
          </div>
        </div>

        <div class="edit-container">

          <md-tabs class="md-accent" md-selected="shown.store.tab">
            <md-tab id="jobsTab" aria-controls="jobsTab-content" ng-click="shown.store.tab = 0">
              Job Postings
            </md-tab>
            <md-tab id="managersTab" aria-controls="managersTab-content" ng-click="shown.store.tab = 1">
              Managers
            </md-tab>
          </md-tabs>

          <ng-switch on="shown.store.tab" class="tabpanel-container">
            <div role="tabpanel" id="jobsTab-content" aria-labelledby="jobsTab" ng-switch-when="0">
              <!-- Job Postings Content -->
              <md-list>
                <ng-include src="'partials/jobs-list.html'"></ng-include>
              </md-list>
            </div>
            <div role="tabpanel" id="managersTab-content" aria-labelledby="managersTab" ng-switch-when="1">
              <!-- Managers Content -->
              <md-list>
                <md-item ng-repeat="manager in managers">
                  <md-item-content>
                    <div class="md-tile-left">
                        <img ng-src="https://s3-us-west-1.amazonaws.com/higherme.com/user-profile-default.svg" class="user-photo" alt="https://s3-us-west-1.amazonaws.com/higherme.com/user-profile-default.svg">
                    </div>
                    <div class="md-tile-content">
                      <h3>{{ manager.firstname }} {{ manager.lastname }}</h3>
                      <h4>{{ manager.email }}</h4>
                    </div>
                  </md-item-content>
                </md-item>
              </md-list>
            </div>
          </ng-switch>
        </div>

      </div>

    </md-content>
  </div>

  <!-- Questions Sidenav -->
  <md-sidenav class="md-sidenav-right questions md-whiteframe-z2" md-component-id="right" md-is-locked-open="nav.right">
    <h2>Questions</h2>
    <md-list>
      <md-item ng-repeat="category in questionCategories">
        <md-item-content>
          <div class="md-tile-content dropdown-container">
            <div class="dropdown" layout="row" layout-align="space-between center" ng-click="category.dropdownOpen = !category.dropdownOpen">
              <h3>{{ category.name }}</h3>
              <i class="fa fa-chevron-up" ng-class="{open: category.dropdownOpen}"></i>
            </div>
            <div class="dropdown-content-container" ng-show="category.dropdownOpen">

              <div ui-tree="treeOptions">
                <ol ui-tree-nodes="" ng-model="category.questions">
                  <li ng-repeat="(questionIndex, question) in category.questions" ui-tree-node class="sortable-item-container">
                    <div ui-tree-handle class="sortable-item">
                      {{ question.title }}
                    </div>
                  </li>
                </ol>
              </div>

            </div>
          </div>
        </md-item-content>
      </md-item>

      <!-- Add Question -->
      <md-item>
        <md-item-content>
          <div class="md-tile-content">
            <form novalidate>
              <md-input-container class="question-title">
                <label>Category</label>
                <input ng-model="newQuestion.category">
              </md-input-container>
              <md-input-container class="question-title">
                <label>Question Title</label>
                <input ng-model="newQuestion.title">
              </md-input-container>
              <md-radio-group ng-model="newQuestion.type">
                <md-radio-button ng-repeat="type in displayData.question_types" ng-value="type.value" aria-label="{{type.title}}">{{ type.title }}</md-radio-button>
              </md-radio-group>
              <div ng-repeat="(optionIndex, option) in newQuestion.options" layout="row" layout-align="start center">
                <md-checkbox ng-disabled="true" aria-label="Checkbox">
                  <span>{{ option.title }}</span>
                </md-checkbox>
                <md-input-container class="question-title">
                  <label>Option Title</label>
                  <input ng-model="option.title">
                </md-input-container>
                <i class="fa fa-times remove-option" ng-click="removeOption(newQuestion, optionIndex)"></i>
              </div>
              <div layout="row" layout-align="start center" ng-show="newQuestion.type == shown.questionType">
                <md-checkbox ng-disabled="true" aria-label="Checkbox"></md-checkbox>
                <md-input-container class="question-title">
                  <label>Add Option</label>
                  <input ng-model="newOption">
                </md-input-container>
                <i class="fa fa-plus add-option" ng-show="newOption.length > 0" ng-click="addOption(newQuestion, newOption, true); newOption = ''"></i>
              </div>
              <div class="btn-container" ng-show="newQuestion.category.length > 0 && newQuestion.title.length > 0">
                <md-button type="submit" class="md-raised md-primary" ng-click="addQuestion($event, newQuestion)">Add Question</md-button>
              </div>
            </form>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-sidenav>

</div>
